header {
    height: 120px;
    background: #169fe6;
    padding: 16px 32px;;
    .nav {
        .links {
            width: 100px;
            a {
                padding: .3em .5em;
                color: white;
                text-decoration: none;
                &:active {
                    color: none;
                }
            }
        }
    }
}