header {
    height: 120px;
    background: #169fe6;
    padding: 16px 32px;;
    .nav {
        width: 100%;
        .links {
            text-align: left;
            a {
                display: inline-block;
                padding: .3em .5em;
                color: white;
                text-decoration: none;
                &:active {
                    color: none;
                }
            }
        }
    }
}